<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/myapp/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/myapp/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/myapp/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/myapp/font-face.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/myapp/fontawesome-all.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static '/myapp/material-design-iconic-font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/myapp/material-design-iconic-font.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static '/myapp/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/myapp/theme.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <link rel="shortcut icon" href="/static/myapp/favicon.png" type="image/x-icon">
    <script src="https://smartcaptcha.yandexcloud.net/captcha.js" defer></script>
    <title>Детектор уязвимостей - инструмент для постоянной проверки ИТ систем на открытые уязвимости</title>
</head>
<body>



<div id="__nuxt">
<!---->
<div id="__layout">
<div class="page-wrapper">
<aside class="menu-sidebar d-none d-lg-block">
<div class="logo">
<a href="#">
<img src="/static/myapp/logo.png" alt="ИТ Иммунитет">
</a>
</div>
 <div class="menu-sidebar__content js-scrollbar1">
<nav class="navbar-sidebar">
<ul class="list-unstyled navbar__list">
    {% if task == '/dashboard/status/' %}
<li class="active">
<a href="/dashboard/status" class="nuxt-link-exact-active nuxt-link-active">
    {%else%}
<li class="">
<a href="/dashboard/status" class="">

    {% endif %}
<i class="fas fa-tachometer-alt">
</i>
Статус</a>
</li>
{% if task == '/dashboard/advanced' %}
    <li class="active">
    <a href="/dashboard/advanced" class="nuxt-link-exact-active nuxt-link-active" aria-current="page">
{%else%}
    <li class="">
    <a href="/dashboard/advanced" class="" aria-current="page">
{% endif %}
<i class="fas fa-chart-bar">
</i>
Подробнее</a>
</li>

{% if task == '/dashboard/recommendation/' %}
<li class="active">
    <a href="/dashboard/recommendation" class="nuxt-link-exact-active nuxt-link-active">
{%else%}
 <li class="">
<a href="/dashboard/recommendation" class="">
    {% endif %}

<i class="far fa-check-square">
</i>
Рекомендации</a>
</li>
{% if task == '/dashboard/configuration' %}
<li class="active">
    <a href="/dashboard/configuration" class="nuxt-link-exact-active nuxt-link-active">

{%else%}
 <li class="">
<a href="/dashboard/configuration" class="">
    {% endif %}

<i class="fas fa-calendar-alt">
</i>
Конфигурация</a>
</li>

{% if task == '/document/' %}
<li class="active">
    <a href="/document" class="nuxt-link-exact-active nuxt-link-active">
{%else%}
 <li class="">
<a href="/document" class="">
    {% endif %}
    
<i class="fas fa-file-text">
</i>
Документы</a>
</li>
{% if task == '/dashboard/payment' %}
<li class="active">
    <a href="/dashboard/payment" class="nuxt-link-exact-active nuxt-link-active">

{%else%}
 <li class="">
<a href="/dashboard/payment" class="">
{% endif %}

<i class="fas fa-rouble">
</i>
Оплата</a>
</li>

{% if task == '/user/feedback/' %}
<li class="active">
    <a href="/user/feedback/" class="nuxt-link-exact-active nuxt-link-active">

{%else%}
 <li class="">
<a href="/user/feedback/" class="">
{% endif %}

<i class="fas fa-envelope">
</i>
Обратная связь</a>
</li>


</ul>
</nav>
</div>
</aside>
 <div class="page-container">
<header class="header-desktop">
<div class="section__content section__content--p30">
<div class="container-fluid">
<div class="header-wrap">
<form action="" method="POST" class="form-header">
    {% csrf_token %}
<input type="text" name="search" placeholder="Поиск по CVE | БДУ | CNVD ..." class="au-input au-input--xl">
<button type="submit" class="au-btn--submit">
<i class="zmdi zmdi-search">
</i>
</button>
</form>
 <div class="header-button">
<div class="noti-wrap">
<div class="noti__item js-item-menu" id="noti__item js-item-menu" onclick="ShowNotifyMenu()">
<i class="zmdi zmdi-notifications">
</i>
 <span class="quantity">
    {{notifications}}</span>
 <div class="notifi-dropdown js-dropdown">
<div class="notifi__title">
<p>
У Вас {{notifications}} рекомендации</p>
</div>
  <div class="notifi__footer">
<a href="/dashboard/recommendation" class="">
Все рекомендации</a>
</div>
</div>
</div>
</div>
 <div class="account-wrap">
<div class="account-item clearfix js-item-menu" id="dropclick" onclick="ShowClientMenu()"> <!-- show-dropdown-->
<div class="image">
<i class="fas fa-5 fa-user" style="font-size: 36px;">
</i>
</div>
 <div class="content">
<a href="#" class="js-acc-btn">
{{company}}</a>
</div>
 <div class="account-dropdown js-dropdown">
<div class="info clearfix">
<div class="image">
<i class="fas fa-5 fa-user" style="font-size: 56px;">
</i>
</div>
 <div class="content">
<h5 class="name">
<a href="#">
    {{company}}</a>
</h5>
 <span class="email">
{{mail}}</span>
</div>
</div>
 <div class="account-dropdown__body">
<div class="account-dropdown__item">
<a href="/user/password" class="">
<i class="zmdi zmdi-account">
</i>
Аккаунт</a>
</div>
 <div class="account-dropdown__item">
<a href="/dashboard/configuration" class="">
<i class="zmdi zmdi-settings">
</i>
Настройки</a>
</div>
 <div class="account-dropdown__item">
<a href="/dashboard/payment" class="">
<i class="zmdi zmdi-money-box">
</i>
Биллинг</a>
</div>
</div>
 <div class="account-dropdown__footer">
<a href="/logout/">
<i class="zmdi zmdi-power">
</i>
Выход</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
{% block content %}

                                    {% if task == '/dashboard/status/' %}
                                        {% include 'app/newforms/status.html' %}
                                    {% endif %}
                                    {% if task == '/dashboard/recommendation/' %}
                                        {% include 'app/newforms/recomendation.html' %}
                                    {% endif %}
                                    {% if task == '/dashboard/advanced' %}
                                        {% include 'app/newforms/advanced.html' %}
                                    {% endif %}
                                    {% if task == '/dashboard/configuration' %}
                                        {% include 'app/newforms/configuration.html' %}
                                    {% endif %}
                                    {% if task == '/document/' %}
                                        {% include 'app/newforms/document.html' %}
                                    {% endif %}
                                    {% if task == '/dashboard/payment' %}
                                        {% include 'app/newforms/payment.html' %}
                                    {% endif %}
                                    {% if task == '/user/password' %}
                                        {% include 'app/newforms/PasswordChange.html' %}
                                    {% endif %}
                                    {% if task == 'dashboard/search/' %}
                                        {% include 'app/newforms/Search.html' %}
                                    {% endif %}
                                    {% if task == '/user/feedback/' %}
                                        {% include 'app/newforms/feedback.html' %}
                                    {% endif %}
                                {% endblock %}
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
    var f = 0
    function ShowClientMenu() {
        if ((f===0) && (document.getElementById('dropclick').click)) {
            document.getElementById('dropclick').className='account-item clearfix js-item-menu show-dropdown';
            f = 1;
            } else {
                if ((f===1) && (document.getElementById('dropclick').click)) {
            document.getElementById('dropclick').className='account-item clearfix js-item-menu';
            f = 0;
            }
            }

    }
</script>
<script type="text/javascript">
    var f = 0
    function ShowNotifyMenu() {
        if ((f===0) && (document.getElementById('noti__item js-item-menu').click)) {
            document.getElementById('noti__item js-item-menu').className='noti__item js-item-menu show-dropdown';
            f = 1;
            } else {
                if ((f===1) && (document.getElementById('noti__item js-item-menu').click)) {
            document.getElementById('noti__item js-item-menu').className='noti__item js-item-menu';
            f = 0;
            }
            }

    }
</script>
</body>
</html>
