<div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row m-t-30">
          <div class="col-md-12">
            <div class="table-responsive m-b-40">
              <table class="table table-borderless table-data3">
                <thead>
                  <tr>
                    <th>IP адрес</th>
                    <th>Адрес хоста</th>
                    <th>Имя сервиса</th>
                    <th>CVE, БДУ, CNVD</th>
                    <th>Риск</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>