<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <strong>Cписок адресов для проверки</strong>
              <small></small>
            </div>
            <div class="card-body card-block">
              <div class="row form-group">
                <div class="col col-md-3">
                  <label class="form-control-label">Допустимые обозначения</label>
                </div>
                <div class="col-12 col-md-9">
                  <p class="form-control-static">Сайты, IP адреса, Подсети, Автономные системы</p>
                </div>
              </div>
              <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% for field in form1 %}
              <div class="row form-group">
                <div class="col col-md-3">
                  {{field.label_tag}}
                </div>
                <div class="col-12 col-md-9">
                  {{field}}
                  <!---->
                </div>
              </div>
              {% endfor %}
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="disabledSelect" class="form-control-label">Расширенные возможности</label>
                </div>
                <div class="col-12 col-md-9">
                  <select name="disabledSelect" id="disabledSelect" disabled="disabled" class="form-control">
                    <option value="0">Пожалуйста сделйте выбор</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                  </select>
                </div>
              </div>

              <!---->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                  <i class="fa fa-dot-circle-o"></i> Сохранить </button>
                <button type="reset" class="btn btn-danger btn-sm">
                  <i class="fa fa-ban"></i> Сбросить </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <strong>Список адресов для уведомлений</strong>
              <small></small>
            </div>
            <div class="card-body card-block">
              <div class="row form-group">
                <div class="col col-md-3">
                  <label class="form-control-label">Допустимые обозначения</label>
                </div>
                <div class="col-12 col-md-9">
                  <p class="form-control-static">Email адреса</p>
                </div>
              </div>
              <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% for field in form2 %}
              <div class="row form-group">
                <div class="col col-md-3">
                  {{field.label_tag}}
                </div>
                <div class="col-12 col-md-9">
                  {{field}}
                  <!---->
                </div>
              </div>
              {% endfor %}
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="disabledSelect" class="form-control-label">Расширенные возможности</label>
                </div>
                <div class="col-12 col-md-9">
                  <select name="disabledSelect" id="disabledSelect" disabled="disabled" class="form-control">
                    <option value="0">Пожалуйста сделайте выбор</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                  </select>
                </div>
              </div>
              <!---->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                  <i class="fa fa-dot-circle-o"></i> Сохранить </button>
                <button type="reset" class="btn btn-danger btn-sm">
                  <i class="fa fa-ban"></i> Сбросить </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>